/* mirka ------------- */
.fieldset_holder{
	margin-top:5px; 
	margin-left:220px; 
	padding:2px;
	border-radius: 5px;
	background-color: #FAF9F4;	
}

/* -------------------- */

/* mirka form1*/
.lista_holder{
	margin-top:5px; 
	margin-left:220px; 
	padding:2px;
	border-radius: 5px;
	background-color: #FAF9F4;
}
