<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:js="http://www.3di.it/thymeleaf/springJsDecorator">

	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	    <title>Controllo completezza Udo</title>
	   
	   	<link th:substituteby="common :: dojo"/>
	   	<link th:substituteby="common :: spring-js"/>
	   	<link th:substituteby="common :: spring-js-decorator"/>

		<!-- Page custom CSS -->
		<link type="text/css" rel="stylesheet" th:href="@{/resources/css/index.css}"/>
	</head>
	
  	<body class="claro">
  
	  	<div style="width:700px;">			  	

			<form method="POST" id="check_tipo_udo22_form" th:object="${pageBean}" th:action="${flowExecutionUrl}">
		
				<!-- header videata -->
				<div class="form-caption-container">
					<span class="form-caption-text">Controllo completezza Udo</span>
				</div>
					
				<!-- tabella elenco udo -->
				<div style="margin-left: 0px;" class="lista_holder">
					<div class="form-frames-container">
						<div class="frame-container">
							<div class="frame-toolbar-container">
								<span class="panel-toolbar-zone"> 
									<span class="frame-toolbar-caption" th:text="'Elenco Tipologie UDO non presenti nella domanda (' + *{tipoUdoTemplL.size()} + ')'"></span>
								</span>
							</div>
						</div>
					</div>
					<!-- form-frames-container -->

					<!-- lista holder -->
					<div class="fixed_height_scrollable_table">
						<table class="lista" style="width:100%">
							<tbody>
							<!-- 
								<tr>
									<td class="listTableHeader">Azione</td>
									<td style="width:120px;" class="listTableHeader">Operatore</td>
									<td style="width:100px;text-align:center;" class="listTableHeader">Data</td>
								</tr>
								-->
								<tr th:each="tipoUdo:*{tipoUdoTemplL}">
									<td th:text="${tipoUdo.descr}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- tabella dei documenti -->					
					
			</form>
			
	  	</div>
  
	</body>
</html>
