<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:js="http://www.3di.it/thymeleaf/springJsDecorator" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorator="templateFHMB">

	<head>
	    <title>Generazione Liste Verifica </title>
	    
	    <!-- CSS per layout con menu -->
	    <link th:substituteby="common :: menuCSS" />

		<script type="text/javascript">
			function listaVerificaUdo() {
				if(dijit.byId('tipoProcUdo').attr('value').length == 0) {
					alert('Selezionare il tipo procedimento.');
					return;
				}
				
				if(dijit.byId('tipoUdo22').attr('value').length == 0) {
					alert('Selezionare il tipo udo.');
					return;
				}
				
				Spring.remoting.submitForm('','liste_verifiche_form',{_eventId:'esportaListaVerificaUdoToPdf'});
			}			

			function listaVerificaUo() {
				if(dijit.byId('tipoProcUo').attr('value').length == 0) {
					alert('Selezionare il tipo procedimento.');
					return;
				}
				
				if(dijit.byId('classifUdo').attr('value').length == 0) {
					alert('Selezionare la classificazione udo.');
					return;
				}
				
				Spring.remoting.submitForm('','liste_verifiche_form',{_eventId:'esportaListaVerificaUoToPdf'});
			}			
		</script>
    </head>
		
  	<body class="claro">

		<div layout:fragment="header" th:remove="tag">
			<div th:substituteby="common :: defaultHeader"></div>
		</div>
	
		<div layout:fragment="menu" th:remove="tag">
			<div th:substituteby="common :: defaultMenu"></div>
		</div>
		
		<div layout:fragment="body" th:remove="tag">
	
			<form method="POST" id="liste_verifiche_form" th:object="${listeVerificaPageBean}" th:action="${flowExecutionUrl}" onkeypress="return event.keyCode != 13;">
	
				<div>
				
					<div class="fieldset_holder" th:if="${isModify}">
		
						<!-- header videata -->
						<div class="form-caption-container">
							<span class="form-caption-text">Liste verifiche</span>
						</div>
						
						<div class="form-frames-container">
							<div class="frame-container">
								<div class="frame-toolbar-container">
									<span class="panel-toolbar-zone">
										 <span class="frame-toolbar-caption"> <img
												title="Fascicolo di Procedimento" border="0"
												src="resources/images/folder24_proc.png" /> <span
												style="vertical-align: top;" th:text="${showFolderPageBean.fascicolo.oggetto}"></span>
										</span>
									</span>
								</div>
							</div>
						</div>
		
					</div>				
						

					<div class="lista_holder">
					
						<!-- header videata -->
						<div class="form-caption-container" >
							<span class="form-caption-text">Liste di verifica Unità di offerta</span>
						</div>
						
						<div id="messages">
							<div style="border:1px solid red;padding:10px;margin:10px 0px 10px 0px" th:if="${#fields.hasErrors('messages')}">
								<div th:each="error:${#fields.errors('messages')}" style="margin-top:1px;"><img style="vertical-align:bottom;" border="0" src="images/mstop_sm.gif" /> <span th:text="${error}"/></div>
							</div>
						</div>				
						
						<table class="row" id="udoUoListVer">
							<tbody>
								<tr>
									<td style="width:50%">
						  				<select id="tipoProcUdo" th:field="*{tipoProcUdoSelected}" js:widget="widgetType:'dijit.form.Select'" js:errors="true">
											<option value="">---seleziona tipo procedimento---</option>
										  	<option th:each="tipo:*{tipiProcTempl}" th:value="${tipo.idTipo}" th:text="${tipo.descr}">Procedimento</option>						  
										</select>
						  			</td>
								</tr>
								<tr>
									<td style="width:50%">
						  				<select id="tipoUdo22" th:field="*{tipoUdo22Selected}" js:widget="widgetType:'dijit.form.Select'" js:errors="true">
											<option value="">---seleziona tipo udo---</option>
										  	<option th:each="tipoUdo:*{tipiUdo22Templ}" th:value="${tipoUdo.idTipo}" th:text="${tipoUdo.codiceUdo + ' - ' + tipoUdo.descr}">Tipo Udo</option>						  
										</select>
						  			</td>
								</tr>
								<tr>
						  			<td>
										<input 
										js:widget="widgetType:'dijit.form.Button',widgetAttrs:{type:'button',label:'Creazione lista requisiti Udo',onClick:listaVerificaUdo}"
										id="listaVerificaUdo" name="_eventId_listaVerificaUdo"
										value="Creazione lista requisiti Udo" type="submit" />
						  			</td>
								</tr>
							</tbody>
						</table>				
						
						<br/>
						<!-- header videata -->
						<div class="form-caption-container" >
							<span class="form-caption-text">Liste di verifica Unità organizzativa</span>
						</div>
						
						<table class="row" id="uoListVer">
							<tbody>
								<tr>
									<td style="width:50%">
						  				<select id="tipoProcUo" th:field="*{tipoProcUoSelected}" js:widget="widgetType:'dijit.form.Select'" js:errors="true">
											<option value="">---seleziona tipo procedimento---</option>
										  	<option th:each="tipo:*{tipiProcTempl}" th:value="${tipo.idTipo}" th:text="${tipo.descr}">Procedimento</option>						  
										</select>
						  			</td>
								</tr>
								<tr>
									<td style="width:50%">
						  				<select id="classifUdo" th:field="*{classificazioneUdoTemplSelected}" js:widget="widgetType:'dijit.form.Select'" js:errors="true">
											<option value="">---seleziona classificazione udo---</option>
										  	<option th:each="classUdo:*{classificazioniUdoTempl}" th:value="${classUdo.idClassificazioneUdoTempl}" th:text="${classUdo.nome}">Classificazione Udo</option>						  
										</select>
						  			</td>
								</tr>
								<tr>
						  			<td>
										<input 
										js:widget="widgetType:'dijit.form.Button',widgetAttrs:{type:'button',label:'Creazione lista requisiti Uo',onClick:listaVerificaUo}"
										id="listaVerificaUo" name="_eventId_listaVerificaUo"
										value="Creazione lista requisiti Uo" type="submit" />
						  			</td>
								</tr>
							</tbody>
						</table>				

					</div>
				</div>
			</form>
		</div>	
	  	
		<div layout:fragment="footer" th:remove="tag">
			<div th:substituteby="common :: defaultFooter"></div>
		</div>
  	
	</body>
	
</html>


