<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:js="http://www.3di.it/thymeleaf/springJsDecorator">

	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	    <title>AV-Punteggio per UdO</title>
	   
	   	<link th:substituteby="common :: dojo"/>
	   	<link th:substituteby="common :: spring-js"/>
	   	<link th:substituteby="common :: spring-js-decorator"/>

		<!-- Page custom CSS -->
		<link type="text/css" rel="stylesheet" th:href="@{/resources/css/index.css}"/>
	</head>
	
  	<body class="claro">
  
	  	<div style="width:700px;">			  	

			<form method="POST" id="repValRg" th:object="${pageBean}" th:action="${flowExecutionUrl}">
		
				<!-- header videata -->
				<div class="form-caption-container">
					<span class="form-caption-text">AV-Punteggio per UdO</span>
				</div>
					
				<!-- tabella elenco Udo con medie -->
				<div style="margin-left: 0px;" class="lista_holder">
					<!-- form-frames-container -->
					<!-- lista holder -->
					<div class="fixed_height_scrollable_table">
						<table class="lista" style="width:100%">
							<tbody>
								<tr>
									<td style="width:110px;" class="listTableHeader">Codice Univoco</td>
									<td class="listTableHeader">Denominazione</td>
									<td style="width:70px;" class="listTableHeader">Media</td>
								</tr>
								<tr th:each="rep:*{reportValutazioneUdoL}">
									<!-- Codice Univoco --><td th:text="${rep.idUnivoco}"></td>
									<!-- Denominazione --><td th:text="${rep.descr}"></td>
									<!-- th:text="*{#numbers.formatDecimal(mediaSoglia, 0, 'POINT', 2, 'COMMA') + '%'}" -->
									<!-- Media --><td th:text="${#numbers.formatDecimal(rep.media, 0, 'POINT', 2, 'COMMA') + '%'}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<input
							js:widget="widgetType:'dijit.form.Button',widgetAttrs:{type:'button',label:'Esporta AV-Punteggio per UdO in Csv'}"
							js:ajax="formId:'form',event:'onClick',params:{_eventId:'esportaReportValutazioneUdo'}"
							id="esportaReportValutazioneUdo"
							name="_eventId_esportaReportValutazioneUdo" value="Esporta AV-Punteggio per UdO in Csv" type="submit" />
			</form>
	  	</div>
	</body>
</html>
